body {
    background-color: #032149;
    font-size: 100%;

    .app-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        padding: 45px 0;
        align-items: center;
        justify-content: center;
        color: white;

        h1, h2 {
            margin: 0;
        }

        p {
            margin: .5em 0;
        }

        a {
            color: #6caaf9;
            text-decoration: none;
        }

        a:hover {
            color: #ccc8c1;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #pickdate-wrapper {
            text-align: center;
        }
    }
}
