body {
    background-color: #032149;
    font-size: 100%;

    #app-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        padding: 45px 0;
        align-items: center;
        justify-content: center;
        color: white;
    }

    h1, h2 {
        margin: 0;
    }

    p {
        margin: .5em 0;
    }

    a {
        color: #6caaf9;
        text-decoration: none;
    }

    a:hover {
        color: #ccc8c1;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    button {
        padding: 4px 5px;
        background-color: #ccc;
        border: 1px solid #333;
        border-radius: 3px;
        cursor: pointer;
    }

    figure {
        margin: 0;

        figcaption {
            font-size: .8em;
            font-style: italic;
            word-break: break-all;
        }
    }
}
