header.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #021733;
    font-size: 0.9em;
    z-index: 100;

    div#header-wrapper {
        display: flex;
        width: 70%;
        margin: 0 auto;
        padding: 10px;

        div, nav {
            flex-direction: row;
        }

        div#birthdate-info {
            justify-content: flex-start;

            button#edit-birthdate {
                margin-left: 10px;
            }
        }

        nav {
            justify-content: flex-end;

            li {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}
