#launches-list-wrapper {
    h1 {
        font-variant: small-caps;
        margin: 1.5em 0 .75em -.5em;
        font-size: 2em;
    }

    .launch-tile {
        position: relative;
        margin: 1em 0;
        padding: 2em 1.5em .5em;
        background-color: #043E8A;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s ease-out;

        &:hover {
            background-color: #065BC9;
        }

        h2 {
            position: absolute;
            top: 0;
            left: 0;
            padding: .2em .5em;
            background-color: #039196;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 1em;
            margin-bottom: 1em;
        }
    }
}